<!DOCTYPE html>
<html>
    <head>
        <title>User List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>User Manager <small>User List</small></h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>사번</th>
                    <th>이름</th>
                    <th>부서</th>
                    <th>지문인식기 등록 이름</th>
                    <th>입사일</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i =0; i< rows.length; i++){ %>
                    <tr>
                        <td><%= rows[i].id %></td>
                        <td><%= rows[i].name %></td>
                        <td><%= rows[i].department %></td>
                        <td><%= rows[i].name_commute %></td>
                        <td><%= rows[i].join_company %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>           
</body>
    <% include ../config.ejs %>
</html>